.my_element {
  background-image: url("/images/Doodle Pattern Palette 2.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 909px;
}
